<!DOCTYPE html>
<html>
<head>
  <title>BolaoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user.present? %>
  <%= render 'shared/header' %>
<% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
